.contacts,
.overlay {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #0c1c25;
}
.contacts {
	z-index: 0;
	background-size: cover;
	background-position: center;
	background-image: url("./../assets/images/flow.png");
}

.overlay {
	z-index: 10;
	opacity: 1;
	background-color: #0c1c25;
	animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.back-button {
	z-index: 2;
	.text {
		cursor: pointer;
		position: absolute;
		top: 0px;
		left: 0px;
		padding: 20px 40px;
		padding-left: 10px;
		z-index: 2;
		font-family: "Montserrat";
		font-weight: 500;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 25px;
		opacity: 0;
		transform: translateX(0%);
		transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);

		animation: fadeIn 0.5s ease-in-out forwards 1s;
		i {
			margin-right: 10px;
			font-size: 30px;
			width: 30px;
			height: 30px;
		}

		&:hover + .shape {
			transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
			transform: rotate(0deg) scaleX(2) scaleY(2) translateY(0%) translateX(-5%);
		}
	}

	.shape {
		z-index: 1;
		cursor: pointer;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 250px;
		height: 80px;
		background-color: white;
		transform-origin: right bottom;
		transform: rotate(-7deg) scaleX(2) scaleY(2) translateY(-10%) translateX(-5%);
		transition: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);

		animation: slideIn 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	&.trans {
		.text {
			transform: translateX(-200%);
		}
		.shape {
			cursor: auto;
			width: 110%;
			height: 110%;
			transform: rotateZ(0deg) scaleX(1) scaleY(1) translateY(0%) translateX(0%);
			background-color: #303030;
		}
	}
}

@keyframes slideIn {
	0% {
		transform: rotate(90deg) scaleX(1) scaleY(1) translateY(-100%) translateX(-100%);
	}
	100% {
		transform: rotate(-7deg) scaleX(2) scaleY(2) translateY(-10%) translateX(-5%);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fs-wrap {
	z-index: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);

	animation: 1.5s zoomIn cubic-bezier(0.165, 0.84, 0.44, 1) 1s forwards;

	.prompt {
		color: white;
		margin-top: 42vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-family: "Montserrat";
		font-weight: 500;
		text-transform: uppercase;
		user-select: none;
		opacity: 1;
		font-size: 14px;
		transform: translateY(-150%);
		transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

		animation: appearPrompt 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 2s forwards;

		&.remove {
			display: none;
		}
	}
}

@keyframes appearPrompt {
	0% {
		transform: translateY(-150%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes zoomIn {
	0% {
		transform: scale(0) rotate(45deg);
	}
	100% {
		transform: scale(1) rotate(0deg);
	}
}

.circle-menu {
	z-index: 1;
	cursor: pointer;
	position: absolute;
	height: 35vh;
	width: 35vh;
	background-color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

	&::before {
		content: "";
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 10px;
		border-radius: 50%;
		border: solid #fff 4px;
		transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	&:hover {
		& ~ .prompt {
			opacity: 0;
		}

		&::before {
			top: -20px;
			left: -20px;
			right: -20px;
			bottom: -20px;
		}
		.circle {
			width: calc(100% + 10px);
			height: calc(100% + 10px);
		}
	}

	.circle {
		box-shadow: 0px 0px 40px -20px black;
		position: absolute;
		width: calc(100% - 15px);
		height: calc(100% - 15px);
		background-image: url("./../assets/photo.jpg");
		background-size: cover;
		background-position: center;
		border-radius: 50%;
		transform: scale(1) rotate(0deg);
		transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	i {
		color: #3f3f3f;
		font-size: 8vh;
		opacity: 0;
		transform: rotate(360deg) scale(0.5);
		transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	&.opened {
		width: 12vh;
		height: 12vh;
		transition-delay: 0.2s;
		transform: rotate(45deg);
		border-radius: 5px;
		background-color: #fff;

		&:hover {
			&::before {
				display: none;
				top: -10px;
				left: -10px;
				right: -10px;
				bottom: -10px;
				border-radius: 5px;
			}
			i {
				transition-delay: 0s;
				transform: rotate(45deg) scale(1.2);
			}
		}
		.circle {
			transform: scale(0) rotate(45deg);
		}
		i {
			opacity: 1;
			transition-delay: 0.8s;
			transform: rotate(45deg) scale(1);
		}
	}
}

.card-shape {
	cursor: pointer;
	position: absolute;
	width: 15vh;
	height: 15vh;
	background-color: white;
	border-radius: 5px;
	opacity: 1;
	z-index: 0;
	transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;

	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	img {
		transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
		width: 141%;
		height: 141%;
	}

	// Specific Styles fro socials
	&.facebook {
		transform: rotate(45deg) translate(0, 120%) scale(1);
		background-color: #3c5a99;
		img {
			transform: rotate(-45deg);
		}
		&:hover {
			transition-delay: 0s;
			transform: rotate(45deg) translate(0, 120%) scale(1.1);
		}
	}
	&.twitter {
		transform: rotate(45deg) translate(0, -120%);
		background-color: #03a9f4;
		img {
			transform: rotate(-45deg);
		}
		&:hover {
			transition-delay: 0s;
			transform: rotate(45deg) translate(0, -120%) scale(1.1);
		}
	}
	&.github {
		transform: rotate(-45deg) translate(0, 120%);
		background-color: #161614;
		img {
			transform: rotate(45deg);
		}
		&:hover {
			transition-delay: 0s;
			transform: rotate(-45deg) translate(0, 120%) scale(1.1);
		}
	}
	&.gmail {
		transform: rotate(-45deg) translate(0, -120%);
		background-color: #d1c59a;
		img {
			transform: rotate(45deg);
		}
		&:hover {
			transition-delay: 0s;
			transform: rotate(-45deg) translate(0, -120%) scale(1.1);
		}
	}

	// When card is hidden
	&.hidden {
		width: 0vh;
		height: 0vh;
		transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
		opacity: 0;

		&.facebook,
		&.twitter {
			transform: rotate(45deg) translate(0%, 0%);
		}
		&.github,
		&.gmail {
			transform: rotate(-45deg) translate(0%, 0%);
		}
	}
}

@media (max-width: 768px) {
	.back-button {
		.text {
			font-size: 18px;
			padding: 10px 30px;
			padding-left: 10px;
			i {
				margin-right: 10px;
				font-size: 30px;
				width: 30px;
				height: 30px;
			}
		}
		.shape {
			width: 200px;
			height: 50px;
		}
	}
}
