.projects {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #fff;
}

// Background //
.fancy-text {
	user-select: none;
	z-index: 0;
	white-space: nowrap;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(30deg);
	font-family: "Montserrat";
	font-weight: 400;
	color: black;
	text-transform: uppercase;

	.row {
		margin: 10px 0px;
		transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
		&.hidden:nth-of-type(2n) {
			transform: translateX(-150%) !important;
		}
		&.hidden:nth-of-type(2n + 1) {
			transform: translateX(150%) !important;
		}
		span {
			margin: 0px 20px;
			line-height: 80px;
			font-size: 80px;
			opacity: 0.0175;
		}
	}
}

// Left Panel //
.left-panel {
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	padding: 0px 30px;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(0%);
	transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

	&.hidden {
		transform: translateX(-110%);
	}

	.numbers {
		color: white;
		font-family: "Montserrat";
		font-weight: 400;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-size: 2vh;

		.current,
		.total {
			overflow: hidden;
			div {
				transform: translateY(0%);
				transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
			}
		}

		.current .hidden {
			transform: translateY(100%);
		}

		.divider {
			position: relative;
			height: 1px;
			width: 30px;
			background-color: white;
			margin: 10px 0px;
			overflow: hidden;
			transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
		}
	}
}

// Title //
.title {
	color: #bd1111; // XXX: Main Color
	z-index: 1;
	font-family: "Roboto Condensed";
	font-weight: 300;
	position: absolute;
	align-self: flex-start;
	font-size: 20px;
	left: 10px;
	top: 50px;
	text-transform: uppercase;
	overflow: hidden;
	padding: 0px 100px;

	.text {
		transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	.hidden {
		transform: translateY(110%);
	}

	.line {
		margin-top: 5px;
		width: calc(100% + 30px);
		height: 1px;
		margin-left: -20px;
		background-color: black;
		transform-origin: left;
		transform: scaleX(1);
		transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

		&.hidden {
			transform: scaleX(0);
		}
	}
}

// Button //
.button-wrap {
	z-index: 5;
	position: absolute;
	width: 100%;
	bottom: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;

	// Left Line //
	.left-line {
		background-color: #000;
		height: 1px;
		width: 200px;
		transform-origin: left;
		transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);

		&.hidden {
			width: 220px;
			transform: scaleX(0);
		}
	}

	// Button itself //
	.button {
		position: relative;
		margin: 0px 20px;
		cursor: pointer;
		padding: 10px 15px;
		padding-left: 25px;
		border: 1px solid #bd1111; // XXX: Main Color
		border-radius: 0px;
		font-family: "Roboto Condensed";
		font-weight: 300;
		text-transform: uppercase;
		font-size: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);

		i {
			font-size: 30px;
			margin-left: 15px;
		}

		.mask {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 120%;
			background-color: #bd1111; // XXX: Main Color
			z-index: -1;
			transform: translateY(-100%);
			transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
		}

		&:hover {
			color: white;
			i {
				color: white;
			}
			.mask {
				transform: translateX(0%);
			}
		}

		&.concealed {
			margin: 0px;
			transform: translateY(120%);
			.mask {
				transform: translateY(10%);
			}
		}
	}

	// Right Line //
	.right-line {
		background-color: #000;
		height: 1px;
		flex-grow: 1;
		transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
		transform-origin: right;

		&.hidden {
			transform: scaleX(0);
		}
	}
}

// Main Text //
.main-text {
	z-index: 3;
	position: absolute;
	width: 40%;
	left: 150px;
	top: 50%;
	transform: translateY(-50%);

	.cname {
		white-space: nowrap;
		font-family: "Kurale";
		color: #bd1111; // XXX: Main Color
		font-size: 95px;
		width: 150%;
		overflow: hidden;

		.text {
			transform: translateY(0%);
			transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

			&.hidden {
				transform: translateY(110%);
			}
		}
	}

	.description {
		overflow: hidden;
		display: flex;
		.line {
			display: inline-block;
			width: 8vw;
			height: 5px;
			background-color: black;
			transform-origin: left;
			transform: scaleX(1) translateY(200%);
			transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

			&.hidden {
				transform: scaleX(0) translateY(200%);
			}
		}
		.text {
			max-height: 500px;
			overflow: auto;
			margin-left: 20px;
			display: inline-block;
			width: calc(100% - (8vw + 20px));
			font-family: "Montserrat";
			color: #444;
			line-height: 150%;
			font-size: 20px;
			transform: translateY(0%);
			transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

			&.hidden {
				transform: translateY(-110%);
			}
		}
	}
}

// Presentation Images
.mockup {
	z-index: 3;

	img {
		position: absolute;
		height: 70vh;
		top: 45%;
		z-index: 6;
		right: 0px;
		margin-right: -50vh;
		transform: translateY(-50%) translateX(0%);
		opacity: 1;
		transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);

		&.invis {
			opacity: 0;
		}
	}

	// Specific Styles
	.yuitexs {
		height: 55vh;
		margin: 0px;
		margin-top: 8%;
		right: 50vh;
		transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
	}
	.hotelup,
	.kosmos {
		top: 48%;
		margin-right: -40vh;
		height: 75vh;
	}
	.itschool {
		top: 50%;
		margin-right: -15vh;
	}
	.mesten {
		top: 50%;
		margin-right: 10vh;
		height: 60vh;
	}

	&.hidden img {
		transform: translateY(-50%) translateX(30%);
		opacity: 0;
	}

	&.hidden .yuitexs {
		transform: translateX(100%) translateY(-50%);
		opacity: 0;
	}
}

// Back Button
.back-button-wrap {
	.back-button {
		cursor: pointer;
		z-index: 2;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 60px;
		height: 60px;
		background-color: black;
		transform: rotate(30deg) scaleX(6) scaleY(2) translateY(0%);
		transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

		&.hidden {
			transform: rotate(30deg) scaleX(6) scaleY(2) translateY(-120%);
		}

		&:hover {
			& + .back-arrow {
				animation: backArrow 1.5s 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
			}
		}
	}
	.back-arrow {
		cursor: pointer;
		z-index: 2;
		position: absolute;
		top: 20px;
		right: 20px;
		transform: translateX(0%);
		i {
			color: white;
			font-size: 40px;
		}
		&:hover {
			animation: backArrow 1.5s 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
		}
	}

	&.trans {
		.back-button {
			cursor: auto;
			transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
			z-index: 10;
			background-color: #303030;
			transform: rotate(0deg) scaleX(1) scaleY(1) translateY(0%);
			height: 110%;
			width: 110%;
		}
		.back-arrow {
			transition: 0.3s ease-in-out;
			opacity: 0;
		}
	}
}

@keyframes backArrow {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	50% {
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		transform: translateX(150%);
		opacity: 0;
	}
}
